body{
    background-color: beige;
    color: black;
    overflow: hidden;
    cursor: url('cursor.png');
}

.darkmode{
    background-color: black;
    color: white;
}

.lightdark{
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 1170px;
}

.box1{
    width: 600px;
    height: 400px;
    border: solid 3px black;
    position: absolute;
    top: 100px;
    left: 350px;
    font-size: 25px;
    text-align: center;
}

button{
    font-size: 32px;
    border-radius: 16px;
    transition: 0.3s ease;
    font-family: "Iceberg", sans-serif;
    background-color: rgb(243, 191, 114);
}

button:hover{
    transform: scale(0.9) rotate(-3deg);
    background-color: rgb(227, 113, 113);
}

p{
    font-family: "Sour Gummy", sans-serif;

}

.href{
    position: absolute;
    top: 300px;
    left: 200px;
}