button{
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 25%;
    border-radius: 16px;
    transition: 02s ease;
    font-family: "Iceberg", sans-serif;
    background-color: rgb(227, 113, 113)
}

body{
    background-color: beige;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1{
    position: absolute;
    left: 400px;
    font-size: 60px;
    top: 100px;
    font-family: "Engagement", cursive;
}


button:hover{
    transform: scale(0.9);
    background-color: blue;
}

