button{
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 25%;
}

body{
    background-color: beige;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1{
    position: absolute;
    left: 400px;
    font-size: 60px;
    top: 100px;
    font-family: "Engagement", cursive;
}

