button{
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 300px;
    border-radius: 20px;
    transition: 02s ease;
    font-family: "Iceberg", sans-serif;
    background-color: rgb(226, 111, 111);
    overflow: hidden;
    margin: 0;
    padding: 4px 4px;
}

h1{
    position: absolute;
    left: 400px;
    font-size: 60px;
    top: 100px;
    font-family: "Engagement", cursive;
}


button:hover{
    transform: scale(0.9);
    background-color: blue;
}

.parent{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
}

body{
    background-color: beige;
}

.clik{
    position: absolute;
    top: 250px;
    left: 470px;
}